<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h4>Soy un h4</h4>

    <h1>El titulo del la pagina web</h1>

    <h2>Un subtitulo cualquiera</h2>

    <img width="320" height="320" src ='/images/mrFantastic.jpg' alt=''>

    <strong>EL PEPE</strong>

    <p>Lorem ipsum dolor <strong> amet consectetur adipisicing elit.</strong> Quo sint perferendis minima 
    cumque dolorem placeat repellendus corrupti. Laudantium itaque, explicabo sunt culpa laboriosam eum eaque nihil
    reiciendis possimus voluptates quisquam.</p>

    <p class="parrafo-destacado">Lorem ipsum dolor sit amet <em>Soy una prueba</em> adipisicing elit. Ducimus repellendus aperiam molli
    tia velit culpa ad, minus voluptatum! Nam voluptates libero ab, tenetur quia ipsum ullam, placeat, quis ex itaque natus?</p>

    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>

    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>

    <a href="https://www.google.com.ar/?client=safari">Ir a Google</a>
</body>
</html>